.product-list {
    padding: 40px;
    width: fit-content;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.product-list__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 270px;
    max-width: 270px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-list__card:hover {
    outline: 1px solid var(--acadia);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.product-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-decoration: none;
}

.product-list__card img {
    position: relative;
    max-width: 250px;
    display: block;
    border-radius: 4px;
}

.offers-item__name {
  font-size: 18px;
  color: var(--brown-tumbleweed);
  margin-bottom: 0;

}

.offers-price__container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.offers-item__discount {
  height: 16px;
  padding: 2px;

  border-radius: 1rem;
  align-items: center;
  justify-content: right;

  color: var(--metalic-bronze);
  background-color: var(--peridot);
  font-size: 12px;
  font-weight: bold;
}

.price-card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.offers-item__price {
  color: red;
  font-size: 10px;
  font-weight: bold;

  margin-right: 10px;
  justify-content: space-evenly;
}

.offers-item__price > span {
  font-size: 12px;
  color: red;
  text-decoration: line-through;
}

.new-price {
  color: var(--metalic-bronze);
  font-size: 20px;
  font-weight: bold;
}

.new-price__for {
  color: var(--peridot);
  font-size: 32px;
  font-weight: bold;
}

.product-item__name {
    font-size: 18px;
    color: var(--brown-tumbleweed);
    margin-bottom: 0;
    font-weight: 400;
}

.product-item__price {
    color: var(--peridot);
    font-size: 32px;
    font-weight: bold;
}

.product-item__price-description {
    color: var(--metalic-bronze);
    font-size: 12px;
    font-weight: bold;
}

.product-item__buy-button {
    background-color: var(--brown-tumbleweed);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
}

.product-item__buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

@media (max-width: 550px) {
  .product-list {
    flex-flow: row wrap;
    gap: 10px;
  }

  .offers-item__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 109.6px;
  }

  .product-item__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 109.6px;
  }
}

@media (max-width: 768px) {
  .product-list {
    flex-flow: row wrap;
    padding: 40px 15px;
    width: 90%;
  }

  .product-list__card {
    flex-basis: calc(50% - 10px);
    height: 269.2px;
    width: 165px;
  }

  img {
    width: 155px;
    height: 155px;
  }

  .offers-item__name {
    font-size: .9rem;
  }

  .offers-item__price > span {
    font-size: .6rem;
  }

  .offers-item__discount{
    font-size: .6rem;
  }

  .new-price__for {
    font-size: 1rem;
  }

  .product-item__name {
    font-size: .9rem;
  }

  .product-item__price {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .product-item__price-description {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .product-list__card img {
    min-height: 250px;
  }
}
