.footer {
    background-color: var(--light-yellow);
    color: var(--acadia);
    font-size: 18px;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color: var(--light-yellow-2);
    font-weight: bold;
    padding: 20px;
    color: var(--acadia);
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    color: var(--acadia);
    margin-bottom: 5px;
}

.footer__about-text {
    width: 400px;
    text-align: justify;
}


.footer i {
    color: var(--metalic-bronze);
}

.footer li {
    margin: 10px 0;
}

@media (max-width: 430px) {
  .footer__container {
    padding: 20px;
  }
}
